@media only screen and (max-width: 1160px) {
	html {
		font-size: 8px;
	}
	.header .meteors {
		font-size: 12px;
	}
}
@media only screen and (max-width: 830px) {
	html {
		font-size: 10px;
	}
	.header {
		.meteors {
			font-size: 12px;
		}
		.nav-bar {
			display: none;
		}
	}
	.container {
		max-width: 78%;
		margin: 0 auto;
	}
}
@media only screen and (max-width: 768px) {
	html {
		font-size: 12px;
	}
	#moon {
		top: 1.5rem;
		right: 1.2rem;
		width: 30px;
	}
	#sun {
		width: 60px;
		top: 0.2rem;
		right: 0.3rem;
	}
	.header .meteors {
		font-size: 12px;
	}
	.nav-bar {
		display: none;
	}
	.container {
		max-width: 78%;
	}

	.article {
		.demo-box {
			grid-template-columns: 1fr 1fr;
		}
	}
	.main {
		h1 {
			font-size: 4rem;
		}
	}
	.transforms {
		margin-bottom: 10rem;
	}
}
