@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
   --white:rgb(255, 255, 255);
   --black:#000;
   --red:rgb(241, 44, 44);
   --gold:gold;
   --libgdark:rgba(187, 183, 182, 0.979);
    --buttonbgdark:rgba(255, 255, 255, 0.795);
    --buttondarkshadow:#8d8b8b;
    --articleheaddark:rgba(238, 148, 148, 0.863);
    --articlepdark:rgba(255, 255, 255, 0.74);
    --buttonbglight:rgba(167, 167, 167, 0.795);
    --buttonlightshadow:#222222;
    --articleheadlight:rgba(56, 19, 53, 0.863);
    --articleplight:rgba(26, 26, 26, 0.74);
   
  }

  

  .dark{
   --themebg:var(--black);
   --libg:var(--red);
   --btnbg:var(--buttonbgdark);
   --btnshadow:var(--buttondarkshadow);
   --articleheader:var(--articleheaddark);
   --articletext:var(--articlepdark);
   --themeicon:var(--white);
   --themeiconshadow:(--white);
  }
  .light{
    --themebg:var(--white);
    --themeicon:var(--black)
    --themeiconshadow:(--white);
   --libg:var(--gold);
   --btnbg:var(--buttonbglight);
   --btnshadow:var(--buttonlightshadow);
   --articleheader:var(--articleheadlight);
   --articletext:var(--articleplight);
}